body {
  height: 100vh;
}
.chat {
  display: flex;
  background: rgb(106, 240, 224);
  background: linear-gradient(
    180deg,
    rgba(106, 240, 224, 1) 24%,
    rgba(106, 210, 240, 1) 100%
  );
  color: #fff;
  height: 100vh;
}

@media (max-width: 617px) {
  .chat {
    flex-direction: column;
    height: 100%;
  }
  body {
    height: 100%;
  }
  .massages {
    height: 90vh;
  }
  .massage {
    width: 80% !important;
  }

  .contected_users {
    max-width: 50vh;
  }
  .right_side {
    border-radius: 20px 20px 0 0 !important;
  }
  .aside {
    width: auto !important;
  }
}
@media (max-width: 340px) {
  .massage_data {
    font-size: 14px;
  }

  .name {
    font-size: 16px;
  }
}

.aside {
  width: 300px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(106, 240, 224) rgb(228, 228, 228);

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: rgb(228, 228, 228);
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: rgb(106, 240, 224);
    border-radius: 9em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(228, 228, 228);
  }
}

.massages {
  display: flex;
  flex-direction: column;
  padding: 20px !important;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgb(106, 240, 224) rgb(228, 228, 228);

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: rgb(228, 228, 228);
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: rgb(106, 240, 224);
    border-radius: 9em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(228, 228, 228);
  }
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  background-color: rgb(228, 228, 228);
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
  border-radius: 20px 0 0 20px;
}

.massage {
  background: rgb(106, 240, 224);
  margin-bottom: 10px;
  width: 55%;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.089);
  animation: message 1s;
}
.my_massage {
  margin-left: auto;
  border-radius: 20px 20px 3px 20px;
}
.massage_text {
  font-size: 14px;
}

.massage_data {
  margin-bottom: 10px;
  opacity: 0.8;
  font-weight: 300;
}

.name {
  margin-right: 20px;
}

.massage_form {
  position: relative;
  display: flex;
  justify-content: center;
}

.textarea {
  height: 80px;
  width: 90%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  min-height: 60px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 30px;
  max-height: 200px;

  scrollbar-width: thin;
  resize: none;

  &::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px;
  }
}

.roomId {
  font-size: 16px;
  line-height: 20px;
}

.members {
  font-size: 16px;
  padding: 10px 0 0 10px;
}
.user {
  background: #fff;
  color: rgb(2, 228, 228);
  max-width: 200px;
  margin: 10px 0 10px -18px;
  padding: 10px 0 10px 34px;
  border-radius: 27px;
}

.contected_users {
  list-style: none;
}

.logout {
  background: none;
  border: none;
  width: 35px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.logout:hover {
  opacity: 1;
}

.top_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 19px;
  padding: 10px 0 0 5px;
}

@keyframes message {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
